<div class="carousel" (pointerdown)="onPointerDown($event)" (pointerup)="onPointerUp($event)"
  (pointercancel)="onPointerUp($event)">

  <div class="carousel-skeleton" *ngIf="isLoading">
    <div class="skeleton-shimmer"></div>
  </div>

  <ng-container *ngIf="!isLoading">

  <div class="carousel-nav">

    <button class="carousel-dot" *ngFor="let s of slides; let i = index" [class.active]="i === currentIndex"
      (click)="goTo(i)">
    </button>

  </div>


  <div class="carousel-track" [style.transform]="'translateX(-' + currentIndex * 100 + '%)'">

    <div class="carousel-item" *ngFor="let s of slides; let i = index">

      <picture>

        <source media="(max-width:768px)" [srcset]="s.mobile" />

        @if (isPriority(i)) {

        <img [ngSrc]="s.desktop" width="1100" height="309" priority disableOptimizedSrcset sizes="(max-width:768px) 95vw, 95vw"
          [alt]="s.altText" />

        }

        @else {

        <img [ngSrc]="s.desktop" width="1100" height="309" loading="lazy" disableOptimizedSrcset sizes="(max-width:768px) 95vw, 95vw"
          [alt]="s.altText" />

        }

      </picture>


    </div>

  </div>

</ng-container>

</div>