<div class="image-layout">

    <!-- SMALL 1 -->
    <div class="img area-small-1">

        <ng-container *ngIf="!loading;else skeleton"></ng-container>

        <picture *ngIf="!loading">

            <source media="(min-width:1024px)" [srcset]="imagens[0].desktop">

            <img [ngSrc]="imagens[0].mobile" width="250" height="166" priority [alt]="imagens[0].altText">

        </picture>

    </div>


    <!-- SMALL 2 -->
    <div class="img area-small-2">

        <ng-container *ngIf="!loading;else skeleton"></ng-container>

        <picture *ngIf="!loading">

            <source media="(min-width:1024px)" [srcset]="imagens[1].desktop">

            <img [ngSrc]="imagens[1].mobile" width="250" height="166" priority [alt]="imagens[1].altText">

        </picture>

    </div>


    <!-- MEDIUM -->
    <div class="img area-medium">

        <ng-container *ngIf="!loading;else skeleton"></ng-container>

        <picture *ngIf="!loading">

            <source media="(min-width:1024px)" [srcset]="imagens[2].desktop">

            <img [ngSrc]="imagens[2].mobile" width="250" height="351" priority [alt]="imagens[2].altText">

        </picture>

    </div>


    <!-- LARGE -->
    <div class="img area-large">

        <ng-container *ngIf="!loading;else skeleton"></ng-container>

        <picture *ngIf="!loading">

            <source media="(min-width:1024px)" [srcset]="imagens[3].desktop">

            <img [ngSrc]="imagens[3].mobile" width="500" height="203" priority fetchpriority="high"
                [alt]="imagens[3].altText">

        </picture>

    </div>

</div>


<ng-template #skeleton>

    <div class="skeleton">
        <div class="skeleton-shimmer"></div>
    </div>

</ng-template>