.footer-logo {
    height: var(--footer-height);
    display: flex;
    align-items: center;
    padding: 2px 0;
    box-sizing: border-box;
    cursor: pointer;
}

.footer-logo img {
    height: 32px;
    width: auto;
    object-fit: contain;
}

/* TABLET */
@media (min-width: 768px) {
    .footer-logo {
        height: 128px;
    }
}