.nav-desktop {
    display: none; /* Esconde no mobile */
    font-family: var(--font-family-title);
    font-size: 18px;
}

.nav-desktop ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.nav-desktop a {
    color: var(--color-main-white);
    text-decoration: none;
    transition: color 0.3s ease;
    cursor: pointer;
}

.nav-desktop a:hover {
    color: var(--color-brand);
}

@media (min-width: 768px) {
    .nav-desktop {
        display: block;
    }

    .nav-desktop ul {
        justify-content: center;
        align-items: center;
    }
}