<footer class="footer-container">
  <div class="footer-main">

    <div class="footer-top">

      <app-grayscale-logo></app-grayscale-logo>

      <nav class="footer-info">
        <div class="footer-info-group">
          <h3 class="info-title">Atendimento</h3>

          <ul>
            <!-- Whatsapp -->
            <li>
              <img src="assets/images/misc/bw-whatsapp.svg" alt="">
              <a target="_blank" [href]="'https://wa.me/' + info.whatsappRaw">
                {{ info.whatsappFormatted }}
              </a>
            </li>

            <!-- Instagram -->
            <li>
              <img src="assets/images/misc/bw-instagram.svg" alt="">
              <a target="_blank" [href]="'https://instagram.com/' + info.instagramRaw">
                {{ info.instagramFormatted }}
              </a>
            </li>

            <!-- Email -->
            <li>
              <img src="assets/images/misc/bw-email.svg" alt="">
              <a target="_blank" [href]="'mailto:' + info.email">
                {{ info.email }}
              </a>
            </li>
          </ul>
        </div>
      </nav>

    </div>

    <span class="white-line"></span>

    <!-- CNPJ -->
    <p class="cnpj-number">CNPJ: {{ info.cnpj }}</p>

    <!-- Copyright -->
    <p class="copyrights">© {{ info.copyrightYear }} DigitalXis. Todos os direitos reservados.</p>

  </div>
</footer>